<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>登录</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row" style="margin-top:20px">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-primary">
                <div class="panel-heading text-center" style="font-size: 25px">简易代码统计系统登录</div>
                <div class="panel-body">
                    <form method="POST" action="">
                        <div class="form-group">
                            <label>用户名</label>
                            <input type="text" name="user" class="form-control" id="" placeholder="Username"
                                   required="required">
                        </div>
                        <div class="form-group">
                            <label>密码</label>
                            <input type="password" name="password" class="form-control" placeholder="Password"
                                   required="required">
                            <div style="color:red">{{error}}</div>
                        </div>
                        <button type="submit" class="btn btn-primary">登录</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
</html>